{{>layout/header}}

<h1>springboot-webservice TEST...ing</h1>
<div class="col-md-12">
    <!-- 로그인 기능 영역 -->
    <div class="row">
        <div class="col-md-6">
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google"
                   class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver"
                   class="btn btn-secondary active" role="button">Naver Login</a>
            {{/userName}}
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>번호</th>
            <th>시군구</th>
            <th>번지</th>
            <th>본번</th>
            <th>부번</th>
            <th>단지명</th>
            <th>도로명</th>
            <th>전용면적</th>
            <th>계약년월</th>
            <th>계약일</th>
            <th>거래금액</th>
            <th>층</th>
            <th>건축년도</th>
            <th>해제사유발생일</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#board}}
            <tr>
                <td>{{id}}</td>
                <td>{{ccd}}</a></td>
                <td>{{houseNum}}</td>
                <td>{{mainNum}}</td>
                <td>{{secondaryNum}}</td>
                <td>{{complexName}}</a></td>
                <td>{{roadname}}</td>
                <td>{{dedicatedArea}}</td>
                <td>{{contractYearMonth}}</td>
                <td>{{contractDay}}</a></td>
                <td>{{transactionAmount}}</td>
                <td>{{floor}}</td>
                <td>{{buildingYear}}</td>
                <td>{{rrod}}</a></td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/board}}
        </tbody>
    </table>
</div>

{{>layout/footer}}